<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
  
      <a href="#home" class="logo d-flex align-items-center me-auto me-lg-0">
        <img src="../assets/img/app/logo.ico" alt="">
        <h1>Datmars<span>.</span></h1>
      </a>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a routerLink="#/dish" [routerLinkActive]="'active'">Dish</a></li>
          <li><a routerLink="#/table" [routerLinkActive]="'active'">Table</a></li>
          <li><a href="events">Events</a></li>
          <li><a href="">Chefs</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
  
      <a class="btn-book-a-table" href="table">Book a Table</a>
      <a href="#/cart"><i class="bi bi-cart-fill avatar icon-button"></i></a>
      <a href="#/profile"><i class="bi bi-person-circle avatar icon-button"></i></a>
      <a class="btn-book-a-table" href="#/login" *ngIf="!isAuthenticated">Login</a>
      <a class="btn-book-a-table" href="#/logout" *ngIf="isAuthenticated">Logout</a>
    </div>
  </header>