<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-lg-7">
                                <h5 class="mb-3"><a routerLink="/dish" class="text-body"><i
                                    class="fas fa-long-arrow-alt-left me-2"></i>Tiếp tục chon</a></h5>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Danh sách bàn đã chọn</p>
                                        <p class="mb-0">Bạn có {{this.cartService.TABLE_IN_CART.length}} bàn đã chọn</p>
                                    </div>
                                    <!-- <div>
                                        <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                                                class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                                    </div> -->
                                </div>

                                <div class="card mb-3" *ngFor="let table of this.cartService.TABLE_IN_CART">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img [src]="table.image"class="img-fluid rounded-3" [alt]="table.name"style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h5>{{table.name}}</h5>
                                                    <!-- <p class="small mb-0"></p> -->
                                                </div>
                                                <div class="ms-3">
                                                    <span>{{table.description}}</span>
                                                    <!-- <p class="small mb-0"></p> -->
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <!-- <div style="width: 50px;">
                                                    <h5 class="fw-normal mb-0">2</h5>
                                                </div> -->
                                                <div style="width:100%;">
                                                    <h5 class="mb-0">{{table.price | currency:'VND':'symbol':'1.0-2'}}</h5>
                                                </div>
                                                <a href="#!" style="color:red;margin-left: 20px;"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="card bg-secondary text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4" >
                                            <h5 class="mb-0">Thông tin đặt bàn</h5>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                                class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                        </div>

                                        <form id="formCheckout" [formGroup]="formCheckout" (ngSubmit)="checkout()" class="mt-4">
                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="customerName">Tên khách hàng</label>
                                                <input formControlName="customerName" type="text" id="customerName" class="form-control form-control-lg"
                                                    placeholder="Tên khách hàng"/>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="mail">Email</label>
                                                <input formControlName="mail" type="text" id="mail" class="form-control form-control-lg"
                                                    placeholder="example@gmail.com"/>
                                            </div>

                                            <!-- <div class="row mb-4">
                                                <div class="col-md-12">
                                                    <div class="form-outline form-white">
                                                        <label class="form-label" for="period">Thời gian</label>
                                                        <select [(ngModel)]="selectedPeriod" id="period" class="form-select form-control form-control-lg" required>
                                                            <option *ngFor="let period of listPeriod" [ngValue]="period">{{period.from}}-{{period.to}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <hr class="my-4">
                                            <button form="formCheckout" type="submit" class="btn btn-custom btn-block">
                                                <span>Đạt bàn <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                            </button>
                                        </form>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>